@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    --bg: #ffffff;
    --text-color: #12192C;
    --first-color: #c3d8e6;
    --body-color: #ececec;
}

html[data-theme='dark'] {
    --first-color: #273c61;
    --bg: #12192C;
    --color: #E7EFFF;
    --sub-color: #B6CEFC;
    --body-color: #1B2431;
}

$first-color: var(--first-color);
$bg:var(--bg);
$color: var(--color);
$sub-color: var(--sub-color);
$body-color:var(--body-color);
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    transition: .5s;
    background-color: $body-color;
}

.body-pd {
    padding: 2rem 0 0 16rem;
}

.l-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: $bg;
    width: 92px;
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    // box-shadow: $first-color 3px -1px 20px 5px;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &_logo {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    &_toggle {
        font-size: 1.25rem;
        padding: .75rem;
        cursor: pointer;
        color: $color;
    }
    &_link {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        column-gap: .75rem;
        padding: .75rem;
        color: $color;
        border-radius: .5rem;
        margin-bottom: 1rem;
        transition: .3s;
        cursor: pointer;
    }
    &_link-theme {
        @extend .nav_link;
        background-color: $first-color;
    }
    &_link:hover {
        background-color: $first-color;
    }
    &_icon {
        font-size: 1.25rem;
    }
}

.active {
    background-color: $first-color;
}

.expander {
    width: 250px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.main {
    overflow: auto;
    &_text {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: $first-color;
        color: $color;
        padding: 20px;
        border-radius: 10px;
    }
    &_cards {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }
    }
    &_stats {
        display: grid;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }
    }
}

.hr {
    background-color: rgb(231, 231, 231);
    opacity: .6;
    height: 1px;
    width: 100%;
}

.cards {
    color: $color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $first-color;
    padding: 20px;
    border-radius: 10px;
    h4 {
        padding-bottom: 5px;
    }
    p {
        padding: 5px 0;
    }
    @media screen and (max-width:1200px) {
        text-align: center;
    }
}

.sub-text {
    padding-top: 5px;
    font-size: 10px;
}

.stat {
    background-color: $first-color;
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
    border-radius: 10px;
}